@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes whack {
  0% { transform: scale(1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(1); }
}

.animate-whack {
  animation: whack 0.3s ease-in-out;
}

/* Disable text selection and highlighting */
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}